*, *:before, *:after {
  box-sizing: border-box;
}

div {
  display: inline-block;
}

body {
  background-color: #dadada;
}

.container {
  margin: 0 auto;
  width: 100%;
}

h1 {
  margin: 30px 0;
  font-family: sans-serif;
  font-size: 1.4em;
  letter-spacing: .2em;
  text-align: center;
  text-transform: uppercase;
}

.preview {
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  height: 300px;
  background-size: cover;
  background-position: left;
}

h2 {
  font-size: 1.2em;
  padding: 10%;
  text-align: left;
}

.baku {
  background-image: url(../images/baku.jpg);
}

.london {
  background-image: url(../images/london.png);
 }

.rome {
  background-image: url(../images/rome.jpg);
}

.madrid{
  background-image: url(../images/madrid.jpg);
}

/* code added to create two-column design */
@media screen and (min-width: 575px){
   .preview {
    margin: 1%;
    width: 48%;
  }
}

/* code added to create four-column design */
@media screen and (min-width: 991px){
   .preview {
    margin: 1%;
    width: 25%;
  }
}
